<div class="container padded">
  <div class="row">
    <% @sessions.each do |session| %>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <%= link_to session_path(session), class: "sessions-card-link" do %>
          <div class="card" style= "background: linear-gradient(to right,<%= session.get_color(session.subject) %>)">
            <div class="card-top">
              <div class="card-subject">
                # <%= session.subject %>
              </div>
              <div class="card-avatar">
                <%= image_tag session.tutor.picture, class: "small-card-avatar" %>
              </div>
                <div class="main-title">
                  <div class="card-title">
                    <%= session.title %>
                  </div>
                  <div class="card-university">
                    <%= session.university %>
                  </div>
                </div>
              </div>
              <div class="card-details">
                <div class="card-date-duration">
                  <div class="card-date flex-bottom">
                      <i class="fa fa-clock-o"></i><%= session.date.strftime("%A, %e %B") %> - <%= session.time.strftime("%H:%M") %>
                  </div>
                  <div class="card-duration flex-bottom">
                    <i class="fa fa-hourglass-half"></i> <%= session.duration %>
                  </div>
                </div>
                <div class="card-price">
                  <%= humanized_money_with_symbol(session.price) %>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

