<div class="container padded">
  <div class="row">
    <% @sessions.each do |session| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <%= link_to session_path(session), class: "sessions-card-link" do %>
          <div class="card">
            <div class="card-img-top" style="background-image: url('<%= session.tutor.picture %>')">
              <div class="card-description">
                <p><%= session.time.strftime("%H:%M") %> - <%= session.date.strftime("%A, %e %B") %></p>
              </div>
            </div>
            <span class="card-author-price"><%= session.tutor.name.upcase %> - <%= humanized_money_with_symbol(session.price) %></span>
            <p class="card-title"><%= session.title %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
