<div class='container background_creation_image' >
  <div class="suggest-title">

  <h1 style="text-align: center; padding: 15px;">Suggest a session</h1>
    <div class="suggest-form">
      <%= simple_form_for @session do |f| %>
        <%= f.input :title, class: "suggest-input" %>
        <%= f.input :university  %>
        <%= f.input :subject  %>
        <%= f.input :time, default: Time.parse('9:00'), minute_step: 15, value: "now" %>
        <%= f.input :date, selected: Date.today, start_year: Date.today.year, end_year: Date.today.year + 1 %>
        <%= f.input :price  %>
        <%= f.input :description, as: :text, input_html: { rows: "4" } %>

        <%= f.button :submit, "Add session", class: "add-session-btn sign-up-btn"  %>
      <% end %>
    </div>
  </div>
</div>

