<div class='container background_creation_image' >

  <%= simple_form_for @session do |f| %>
    <%= f.input :university  %>
    <%= f.input :subject  %>
    <%= f.input :price  %>
    <%= f.input :time  %>
    <%= f.input :date  %>
    <%= f.input :title %>
    <%= f.input :description %>

    <%= f.button :submit, "Add session"  %>
  <% end %>

</div>
