
<div class="sticky-content container">

  <!-- Left -->
  <div class="session-left">

    <div class="info-container">

      <div class="title-details">
        <div class="session-title">
          <%=@session.title%>
        </div>
        <div class="details">
          <%=@session.university%>
        </div>
      </div>

      <div class="session-container">
        <div class="tutor-info">
          <div class="title">
            About me
          </div>
          <div class="description">
            I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2. I am have been a tutor since the World War 2.
          </div>
        </div>
        <hr>
        <div class="session-info">
          <div class="title">
            What we'll do
          </div>
          <div class="description">
            <%=@session.description%> <%=@session.description%> <%=@session.description%> <%=@session.description%> <%=@session.description%> <%=@session.description%> <%=@session.description%> <%=@session.description%> <%=@session.description%> <%=@session.description%> <%=@session.description%>
          </div>
        </div>
        <hr>
        <div class="benefits-info">
          <div class="title">
            What you´ll get
          </div>
          <div class="description">
            I will send ammunition to al of you. I will send ammunition to al of you. I will send ammunition to al of you. I will send ammunition to al of you. I will send ammunition to al of you. I will send ammunition to al of you. I will send ammunition to al of you. I will send ammunition to al of you. I will send ammunition to al of you. I will send ammunition to al of you. I will send ammunition to al of you. I will send ammunition to al of you. I will send ammunition to al of you.
          </div>
        </div>
      </div>

      <hr>

      <div class="reviews-container">
        <div class="review-title">
          Reviews
        </div>
        <div class="reviews session-container">
          <div class="review">
            <div class="user-review-avatar">
              <img src="http://placehold.it/50x50" alt="" class="placeholder-avatar">
            </div>
            <div class="username-and-date">
              <div class="review-username">
                Arthur Littman
              </div>
              <div class="review-date">
                25 of April 2017
              </div>
            </div>
            <div class="review-description">
              This guy is fucking crazy he killed his cat in them middle of the lecture. Do not trust this bastard.
            </div>
          </div>
          <hr>
          <div class="review">
            <div class="user-review-avatar">
              <img src="http://placehold.it/50x50" alt="" class="placeholder-avatar">
            </div>
            <div class="username-and-date">
              <div class="review-username">
                Arthur Littman
              </div>
              <div class="review-date">
                25 of April 2017
              </div>
            </div>
            <div class="review-description">
              This guy is fucking crazy he killed his cat in them middle of the lecture. Do not trust this bastard.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Right -->
  <div class="session-right">
    <div class="sticky-container">
      <div class="taughtby-and-avatar flex">
        <div class="taught-by">
          Taught by:
        </div>
        <div class="teacher-id">
          <img src="http://placehold.it/80x80" alt="" class="placeholder-big-avatar">
          <h3>Alex Benoît</h3>
        </div>
      </div>
      <div class="sticky-container">
        <div class="duration">
          <i class="fa fa-hourglass-half" aria-hidden="true"></i> 3 hours
        </div>
        <div class="price">
          <i class="fa fa-money" aria-hidden="true"></i> Price per person
        </div>
        <div class="join-button text-center">
          Book your seat
        </div>
          <div class="joined-title">
            Already joined:
          </div>
          <div class="joined">
            <div class="user-join-avatar">
              <img src="http://placehold.it/50x50" alt="" class="placeholder-avatar">
              <div class="joined-username">
              Arthur Littman
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



