
<div class="sticky-content container">

  <!-- Left -->
  <div class="session-left">

    <div class="info-container">

      <div class="title-details">
        <div class="session-title">
          <%= @session.title %>
        </div>
        <div class="details">
          <%= @session.university %>
        </div>
      </div>

      <div class="session-container">
        <div class="tutor-info">
          <div class="title">
            About me
          </div>
          <div class="description">
            <%= @user.about %>
          </div>
        </div>
        <hr>
        <div class="session-info">
          <div class="title">
            What we'll do
          </div>
          <div class="description">
            <%= @session.description %>
          </div>
        </div>
        <hr>
        <div class="benefits-info">
          <div class="title">
            What you´ll get
          </div>
          <div class="description">
            I will provide past papers that we'll do during the session.
          </div>
        </div>
      </div>

      <hr>

      <div class="reviews-container">
        <div class="review-title">
          Reviews
        </div>
        <div class="reviews session-container">
          <div class="review">
            <div class="user-review-avatar">
              <img src="http://placehold.it/50x50" alt="" class="placeholder-avatar">
            </div>
            <div class="username-and-date">
              <div class="review-username">
                Arthur Littman
              </div>
              <div class="review-date">
                25 of June 2017
              </div>
            </div>
            <div class="review-description">
              This guy is very very good. Productivity wise one hour with him is like one day on my own.
            </div>
          </div>
          <hr>
          <div class="review">
            <div class="user-review-avatar">
              <img src="http://placehold.it/50x50" alt="" class="placeholder-avatar">
            </div>
            <div class="username-and-date">
              <div class="review-username">
                Dixon Lewis
              </div>
              <div class="review-date">
                20 of April 2017
              </div>
            </div>
            <div class="review-description">
              Amazing teacher. We went all toghether through last years exam. Also the other students on the session were very helpful
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Right -->
  <div class="session-right">
    <div class="sticky-container">
      <div class="taughtby-and-avatar flex">
        <div class="taught-by">
          Taught by:
        </div>
        <div class="teacher-id">
          <%= image_tag @session.tutor.picture, class: "placeholder-big-avatar" %>
          <h3><%= @session.tutor.name %></h3>
        </div>
      </div>
      <div class="sticky-container">
        <div class="duration">
          <i class="fa fa-hourglass-half" aria-hidden="true"></i> 3 hours
        </div>
        <div class="price">
          <i class="fa fa-money" aria-hidden="true"></i> <%= humanized_money_with_symbol(@session.price) %>

        </div>
        <div class="join-button-container">
          <%= link_to "Book your seat", session_session_participations_path(@session), method: :post, class: "join-button" %>
        </div>
          <div class="joined-title">
            Already joined:
          </div>
          <div class="joined">
            <div class="user-join-avatar">
              <img src="http://kitt.lewagon.com/placeholder/users/arthur-littm" alt="" class="placeholder-small-avatar">
              <div class="joined-username">
              Arthur Littman
              </div>
            </div>
          </div>
          <% if current_user.participating_sessions.include?(@session) %>
          <div class="chat-header"><h4>#<%= @chatroom.session.title %></h4></div>
          <div class="messages">
            <% @chatroom.messages.each do |message| %>
              <%= render "messages/message", message: message, user_is_messages_author: message.from?(current_user), c_user: current_user %>
            <% end %>
          </div>
          <div id="create-message">
            <%= simple_form_for [ @chatroom, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
              <%= f.input :body, label: false %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    console.log('123');

    App['chatroom_<%= @chatroom.id %>'] = App.cable.subscriptions.create({ channel: 'ChatroomsChannel', chatroom_id: <%= @chatroom.id %> }, {
      received: (data) => {
        console.log('543221');
        // if (data.current_user_id !== <%#current_user.id %>) {
           if (data.c_user !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
        }
      }
    })
  </script>
<% end %>


