<div class="sticky-content container">
  <!-- Left -->
  <div class="session-left">

    <div class="info-container">

      <div class="title-details">
        <div class="session-title">
          <%= @session.title %>
        </div>
        <div class="details">
          <%= @session.university %>
        </div>
      </div>

      <div class="session-container">
        <div class="tutor-info">
          <div class="title">
            About me
          </div>
          <div class="description">
            <%= @user.about %>
          </div>
        </div>
        <hr>
        <div class="session-info">
          <div class="title">
            What we'll do
          </div>
          <div class="description">
            <%= @session.description %>
          </div>
        </div>
        <hr>
        <div class="benefits-info">
          <div class="title">
            What you´ll get
          </div>
          <div class="description">
            I will provide past papers that we'll do during the session.
          </div>
        </div>
      </div>

      <hr>

      <div class="reviews-container">
        <div class="review-top">
          <div class="review-title">
            Reviews
          </div>
          <% if Date.today > @session.date && policy(@session).live? %>
            <%= link_to "Add a review", '#', class: 'btn btn-primary', data: {toggle: :modal, target: '#formModal'} %>
          <% end %>
        </div>

        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a Review</h4>
              </div>
              <div class="modal-body">
                <%= simple_form_for [@session, @review] do |f| %>
                <%= f.input :body %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= f.submit class: 'btn btn-success' %>
              </div>
              <% end %>

            </div>
          </div>
        </div>
            <% reviews = [] %>
            <% @session.tutor.tutor_sessions("over").to_a.each do |session| %>
              <% if session.subject == @session.subject%>
                <% session.reviews.each{|review| reviews << review } %>
              <% end %>
            <% end %>
            <% if reviews.count > 0 %>
              <div class="reviews session-container">

              <% reviews.each do |review| %>
                <div class="review">
                  <div class="user-review-avatar">
                    <%= image_tag review.user.picture, class: "placeholder-small-avatar" %>
                  </div>
                  <div class="username-and-date">
                    <div class="review-username">
                      <%= review.user.name %>
                    </div>
                    <div class="review-date">
                      <%= review.created_at.strftime("%A, %e %B") %>
                    </div>
                  </div>
                  <div class="review-description">
                    <%= review.body %>
                  </div>
                </div>
                <% unless reviews.last == review %>
                  <hr>
                <% end %>
              <% end %>
              </div>
            <% else %>
              <div class="reviews session-container">
                <span>No reviews yet!</span>
              </div>
            <% end %>
          </div>
      </div>
  </div>


  <!-- Right -->
  <div class="session-right" style= "background: linear-gradient(to right,<%= @session.get_color(@session.subject) %>)">
    <div class="sticky-container">
      <div class="taughtby-and-avatar flex">
        <div class="taught-by">
          Taught by:
        </div>
        <div class="teacher-id">
          <%= image_tag @session.tutor.picture, class: "placeholder-big-avatar" %>
          <h3><%= @session.tutor.name %></h3>
        </div>
      </div>
      <div class="sticky-container">
        <div class="session-detail">
          <i class="fa fa-hourglass-half"></i> <%= @session.duration %>
        </div>
        <div class="session-detail">
          <i class="fa fa-money"></i> <%= humanized_money_with_symbol(@session.price) %>
        </div>
        <div class="session-detail">
          <i class="fa fa-clock-o"></i> <%= @session.time.strftime("%H:%M") %> - <%= @session.date.strftime("%A, %e %B") %>
        </div>
        <div class="join-button-container">
          <%= form_tag session_payments_path(@session) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Session payment"
          data-email="<%= current_user.email %>"
          data-description="<%= @session.title %>"
          data-amount="<%= @session.price_cents %>"
          data-currency="<%= @session.price.currency %>">
        </script>
        <% if policy(@session).live? %>
        <%= link_to "Go to live", session_live_path(@session), class: "join-button" %>
        <% else %>
        <%= submit_tag "Book your seat", class: "join-button" %>
        <% end %>
        <% end %>
      </div>
      <div class="joined-title">
        Already joined:
      </div>
      <% @session.session_participations.each do |participation| %>
      <div class="joined">
        <div class="user-join-avatar">
          <%= image_tag participation.student.picture, class: "placeholder-small-avatar" %>
          <div class="joined-username">
            <%= participation.student.name %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
