
<!-- THIS IS THE STUDENT DASHBOARD -->

<div class="container">
  <div class="dashboard-title">
    <h1>Student Dashboard</h1>
  </div>
    <div class="dashboard-left">
      <div class="upcoming-sessions-title">
        <h3>Upcoming Sessions</h3>
      </div>
      <div class="upcoming-sessions-cards">
        <div class="row">
          <% @sessions.each do |session| %>
            <% if session.ongoing_session? %>
              <div class="col-xs-6 col-md-4">
                <%= link_to session_path(session) do %>
                  <div class="card">
                    <div class="card-img-top" style="background: url('<%= session.tutor.picture %>')">
                      <div class="card-description">
                        <p><%= session.description %></p>
                      </div>
                    </div>
                    <span class="card-author-price"><%= session.tutor.name.upcase %> - $<%= session.price %></span>
                    <p class="card-title"><%= session.title %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>







<!-- Modal -->
<%#= link_to "#", class: "btn btn-default", data: { toggle: "modal" , target: "#myModal" } do %>
  <!-- <i class="fa fa-wrench"></i> -->
<%# end %>
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <%#= simple_form_for(current_user) do |f| %>
          <%#= f.input :first_name %>
          <%#= f.input :photo, as: :attachinary %>

          <%#= f.submit %>
          <%# end %>

      </div>
    </div>
  </div>
</div> -->
